<div id="header">
   <div id="search">
      <form method="post" action="/search">
         <input type="text" alt="Search..." id="searchBox" name="string" value="<%= search ||= "" %>" />
      </form>
   </div>
   <div id="loginout">
      <a href="/logout">logout</a> &sdot; <a href="/profile">profile</a> &sdot;
   </div>
   <h1><a href="/">theStack!</a></h1>
   <p>a site for uploading thoughts and such.</p>
</div>

