<div id="header">
   <div id="search">
      <form method="post" action="/search">
         <input type="text" name="string" value="<%= search %>" />
      </form>
   </div>
   <h1><a href="/">theStack!</a></h1>
   <p>a locally hosted site for uploading thoughts and such.</p>
</div>

