<html>
   <head>
      <title>theStack!</title>
      <%= erb :includes %> 
   </head>
   <body>
      <div id="cont">
         <%= erb(:header, :locals => {:search => "" }) %> 

         <div id="main">
            <form class="post-form" method="post">
               <input type="text" name="title" alt="New thought..." id="title-input" />
               <textarea name="text" id="text-input" alt="Put thought here (Formatting language is Markdown)."></textarea>
               <input id="submit" type="submit" value="push" />
            </form>
            <div class="clearfix"></div>

            <h2 id="recent">Most recent thoughts</h2>
            <%= erb(:thoughts, :locals => {:posts => posts}) %> 
         </div>

         <%= erb :footer %> 
      </div>
   </body>
</html>
