<html>
   <head>
      <title>theStack!</title>
      <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="/stack.js"></script>
   </head>
   <body>
      <div id="cont">
         <%= erb :header %> 

         <div id="main">
            <form method="post">
               <input type="text" name="title" value="New thought..." id="title-input" />
               <textarea name="text" id="text-input">Put thought here. (Formatting is either Markup or plain text only.)</textarea>
               <input id="submit" type="submit" value="push" />
            </form>
            <div class="clearfix"></div>

            <h2 id="recent">Most recent thoughts</h2>
            <%= erb(:thoughts, :locals => {:posts => posts}) %> 
         </div>

         <%= erb :footer %> 
      </div>
   </body>
</html>
