<html>
   <head>
      <title>Search > theStack!</title>
      <%= erb :includes %> 
   </head>
   <body>
      <div id="cont">
         <%= erb(:header, :locals => {:search => search }) %> 

         <div id="main">
            <h2>Here are your search results.</h2>

            <%= erb(:thoughts, :locals => {:posts => posts}) %> 
         </div>

         <%= erb :footer %> 
      </div>
   </body>
</html>
