<html>
   <head>
      <title>theStack!</title>
      <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="/stack.js"></script>
   </head>
   <body>
      <div id="cont">
         <%= erb :header %> 

         <div id="main">
         </div>

         <%= erb(:thoughts, :locals => {:posts => posts}) %> 

         <%= erb :footer %> 
      </div>
   </body>
</html>
