<html>
   <head>
      <title>Signup for theStack!</title>
      <%= erb :includes %> 
      <style>
         #search, #loginout { display: none; }
         #login {
            width: 295px;
            height: 260px;
            padding: 10px;
            margin: 35px auto;
         }

         #pw_box, #pw_box2, #user_box, #access_key, #secret_key {
            padding: 5px;
            width: 295px;
            margin-top: 5px;
         }

         .overTxtLabel {
            padding: 5px;
         }
      </style>
   </head>
   <body>
      <div id="cont">
         <%= erb(:header, :locals => {}) %> 

         <div id="main" class="clearfix">
            <div id="login">
               <form method="post">
                  <input type="text" alt="Username" id="user_box" name="user_name" />
                  <input type="password" alt="Password" id="pw_box" name="password" />
                  <input type="text" alt="Amazon SDB Access Key" id="access_key" name="access_key" />
                  <input type="text" alt="Amazon SDB Secret Key" id="secret_key" name="secret_key" />
                  <input type="submit" value="sign up!" id="submit" />
                  <a href="/" id="cancel-button">nevermind...</a>
               </form>
         </div>

         <%= erb :footer %> 
      </div>
      <script>
         $$('input').each(function(el) { new OverText(el); });
      </script>
   </body>
</html>
