/**
 * Less based style sheet.
 */

body {
   color: #666;

   h1 {
      color: #111;
   }

   h2 {
      color: #555;
   }

   h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
   }

   a, a:visited {
      color: #336699;
      text-decoration: none;
   }

   a:hover {
      text-decoration: underline;
   }
}

* {
   margin: 0;
   padding: 0;
}

/* For the hover text in input boxes */
.overTxtLabel {
   padding: 2px;
}

/** 
 * Fix float problem.
 * http://www.positioniseverything.net/easyclearing.html 
 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.markdown {
   font: 13.34px helvetica, arial, freesans, clean, sans-serif;
   padding: 0.7em;
   border: 1px solid #E9E9E9;
   background: #F8F8F8;

   ul li, ol li {
    margin-bottom: 0.5em;
        margin-top: 0.5em;
   }

   p {
      line-height: 1.5em !important;
      margin: 1em 0 !important;
   }

   pre {
      background-color: #F8F8FF !important;
      border: 1px solid #DEDEDE !important;
      color: #444444 !important;
      font-size: 12px !important;
      line-height: 1.5em !important;
      margin: 1em 0 !important;
      overflow: auto !important;
      padding: 0.5em !important;
   }

   code {
      background-color: #F8F8FF !important;
      border: 1px solid #DEDEDE !important;
      color: #444444 !important;
      font-size: 12px !important;
      padding: 0 0.2em !important;
   }

   pre code {
      background-color: #F8F8FF !important;
      border: medium none !important;
      font-size: 12px !important;
      padding: 0 !important;
   }

   ul {
      margin: 1em 0 1em 2em !important;
   }

   ol {
      margin: 1em 0 1em 2em !important;
   }

   h1:first-child, h2:first-child {
      border-top: medium none !important;
      margin-top: 0 !important;
      padding-top: 0.25em !important;
   }

   h1 {
      border-top: 4px solid #AAAAAA !important;
      font-size: 170% !important;
      margin-top: 1.5em !important;
      padding-top: 0.5em !important;
   }

   h1, h2, h3, h4, h5, h6 {
      border: 0 none !important;
   }

   h2 {
      font-size: 150% !important;
      padding-top: 0.5em !important;
   }

   h3 {
      margin-top: 1em !important;
   }

   a, a:visited {
      color: #4183C4;
      text-decoration: none;
   }

   a:hover {
      text-decoration: underline;
   }
}

#cont {
   width: 100%;
   margin-left: auto;
   margin-right: auto;

   #main, #header {
      padding: .5em 2%;
      margin-bottom: 10px;
   }

   #header {
      font-size: 80%;
      font-family: Arial, Helvetica, sans-serif;
      border-bottom: 1px solid silver; 

      h1, p {
         margin: 0;
         padding: 0;
      }

      h1 a {
         color: #111;
         text-decoration: none;
      }

      #search {
         float: right;
         margin: 10px 0;

         input {
            border: 1px solid silver;
            padding: 3px;
         }
      }
   }

   #title-input, #text-input {
      width: 100%;
   }

   #tags-input {
      width: 60%;
      margin: 10px 0;
   }

   #title-input, #text-input, #tags-input {
      border: 1px solid silver;
      padding: 3px;
      margin-bottom: 5px;
   }

   textarea {
      height: 300px;
   }

   a:hover {
      color: silver !important;
   }

   #submit {
      -moz-border-radius: 4px 4px 4px 4px;
      background-color: silver;
      border: medium none;
      color: white;
      cursor: pointer;
      font-family: "Arial","Trebuchet MS","Bitstream Vera Sans",sans-serif;
      font-size: 1.2em;
      font-weight: bold;
      line-height: 1.334em;
      margin: 0;
      padding: 4px 6px 5px;
      text-align: center;
      line-height: 1.417em;
      padding: 4px 6px;
      float: right;
      width: 120px;
      // height: 50px;
      margin: 10px;
   }

   #submit:hover {
      background-color: #444;
   }

   #cancel-button {
      -moz-border-radius: 4px 4px 4px 4px;
      background-color: silver;
      border: medium none;
      color: white;
      cursor: pointer;
      font-family: "Arial","Trebuchet MS","Bitstream Vera Sans",sans-serif;
      font-size: 1.2em;
      font-weight: bold;
      line-height: 1.334em;
      margin: 0;
      padding: 4px 6px 5px;
      text-align: center;
      line-height: 1.417em;
      padding: 4px 6px;
      float: right;
      width: 120px;
      margin: 10px;
      display: block;
   }

   #cancel-button:hover {
      background-color: Tomato;
      text-decoration: none;
      color: white !important;
   }

   #recent {
      margin-top: 2em;
   }

   .meta {
      margin-right: 25px;
      margin-top: 10px;
      text-align: right;
   }

   .tags {
      float: left;
      font-size: 0.8em;

      a.tag {
         padding: 2px;
      }
   }

   .hist {
      padding: 10px 0;
       font-family: "Monaco","Lucida Console","Courier New","Courier",monospace;

      .title {
         font-size: 1.1em;
      }

      .meta {
         margin-right: 25px;
         margin-top: 5px;
         text-align: right;
      }

      .body {
         font: 13.34px;
         padding: 0.7em;
         border: 1px solid #E9E9E9;
         background: #F8F8F8;
         white-space: pre-line;
      }

      del, ins {
         text-decoration: none;
      }

      del {
         background-color: #FFDDDD;
         /*
         border-color: red;
         border-style: solid;
         border-width: 1px;
         */
      }

      ins {
         background-color: #DDFFDD;
         /*
         border-color: green;
         border-style: solid;
         border-width:  1px;
         */
      }
   }
}

#thoughts {
   .thought {
      width: 300px;
      height: 130px;
      border: 1px solid silver;
      padding: 10px;
      margin: 2px;
      float: left;
      position: relative;

      p {
         padding-top: 10px;
      }
      
      .meta {
         text-align: right;
         font-size: 0.7em;
         position: absolute;
         bottom: 0;
         width: 91%;
         margin: 4px;
      }
   }
}

#footer {
   border-top: 1px dashed silver; 
   height: 50px;
   text-align: center;
   padding: 10px;

   p, a {
      color: #bbb;
   }

   a:hover {
      text-decoration: none;
      color: black;
   }
}

#search_results {
   .search_result {
      border: 1px solid #666666;
      list-style: none outside none;
      margin-left: 21px;
      margin-top: 4px;
      padding: 5px;
   }
}
