
<div id="thoughts" class="clearfix">
   <% for item in posts %>
      <div class="thought">
         <a href="/view/<%= item[:postid] %>"><%= item.title %></a> on <%= item.nice_date %>.
         <p><%= item.blurb %></p>
      </div>
   <% end %>
</div>
